#game-page {
  grid-template-columns: 300px 750px 300px;
  grid-template-rows: max-content max-content;
}

.leave-room-btn {
  grid-column: 1;
  grid-row: 2;
}

.players-container {
  grid-column: 1;
}

.readiness-indicator {
  width: 15px;
  height: 15px;
  border-radius: 20px;
}

.progress-block {
  width: 250px;
  height: 30px;
  border: 1px solid black;
}

.progress-indicator {
  width: 0%;
  height: 100%;
  background: lightgreen;
}

.game-container {
  grid-column: 2;
  grid-row: 1 / 4;
  width: 750px;
  height: 750px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
}

.isReady {
  align-self: center;
  justify-self: center;
  display: block;
  margin: 200px auto;
}

.finished-letters {
  background-color: lightgreen;
}

.current-letter {
  text-decoration: underline;
}

.bot-container {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 200px 200px 100px;
  grid-template-rows: 200px 300px;
}

.bot-img {
  width: 350px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  align-self: end;
}

.bot-message-container {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  grid-column: 2 / 4;
  grid-row: 1;
}
