.create-room-btn {
  margin-left: 20px;
}

.rooms-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 10px;
  margin-top: 20px;
}

.room-preview {
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid black;
}